#dashboard {
    height:100%;
    width:100%;
    background: #3b3c36;

}
#item{
    display: flex;
    height: 40%;
    width: 100%;
    border-bottom: 1px solid #FFDC01;

}
#Doughtnut{
    height: 100%;
    width: 50%;
    border-right: 1px solid #FFDC01;
    padding-bottom: 20px;

    
}
#Bar{
    height: 100%;
    width: 50%;
}
#Line{
    height: 60%;
    width: 100%;
    padding-bottom: 20px;

}
